<section class="member-section">
	<div class="member-section-container">
		<div class="member-section-header">
			<h2>Werde Mitglied im Verein!</h2>
			<button routerLink="/about" class="button type2">Anfrage</button>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="footer-container">
		<div class="logo">
			<a href="#">
				<img
					src="../../assets/logo-white.png"
					alt=""/>
			</a>
		</div>
		<div class="quick-links">
			<div class="links-group">
				<span>Über uns</span>
				<div>
					<a routerLink="/about">Über uns</a>
					<a routerLink="/society">Der Verein</a>
				</div>
			</div>
			<div class="links-group">
				<span>Schießsport</span>
				<div>
					<a href="#">Bogenschießen</a>
					<a href="#">Luftdruckschießen</a>
					<a href="#">25 Meter Stand</a>
				</div>
			</div>
			<div class="links-group">
				<span>Wettkämpfe</span>
				<div>
					<a href="#">Aktuelle Termine</a>
				</div>
			</div>
		</div>
	</div>
	<div class="attribution">
		Created by <span class="outer-link">Daniel Schworm</span>.
	</div>
</footer>
