<header>
	<div class="header-image-section">
		<h1>SSV Niefern 1924 e.V.</h1>
	</div>
</header>
<div class="content-container">
	<section class="content-container-section">
		<h3>Herzlich Willkommen</h3>
		<p>beim Sportschützenverein Niefern Öschelbronn 1924 e.V. Auf den folgenden Seiten möchten wir Ihnen unseren
			Verein vorstellen. </p>
		<p>Wir, der Schützenverein Niefern 1924 e.V., sind
			ein sportlich orientierter Schützenverein.
			Der Vereinsgedanke ist uns sehr wichtig. Auch das gesellschaftliche Vereinsleben liegt uns sehr am Herzen.
			Ein gewisses Maß an Schützentradition wird
			bei uns gepflegt. Besteht Interesse am Schießsport, möchten Sie Mitglied werden, haben Sie Fragen, dann
			nutzen Sie unser
			Kontakt-Formular oder wenden Sie sich an einen unserer Funktionäre.
		</p>
		<button routerLink="/society" class="button type1">Der Verein</button>
	</section>
</div>
