<div class="title-container">
	<h2>Aktuelles</h2>
</div>
<div class="blog-card">
	<div class="meta">
		<div class="photo"
			 style="background-image: url(../../assets/niefern.png)"></div>
		<ul class="details">
			<li><a href="#">John Doe</a></li>
			<li>Aug. 24, 2015</li>
		</ul>
	</div>
	<div class="description">
		<h1>Überschrift</h1>
		<h2>Beschreibung</h2>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
			praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
		<p class="read-more">
			<a href="#">Weiterlesen</a>
		</p>
	</div>
</div>
<div class="blog-card alt">
	<div class="meta">
		<div class="photo"
			 style="background-image: url(../../assets/niefern.png)"></div>
		<ul class="details">
			<li><a href="#">Jane Doe</a></li>
			<li>July. 15, 2015</li>
		</ul>
	</div>
	<div class="description">
		<h1>Überschrift</h1>
		<h2>Beschreibung</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
			praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
		<p class="read-more">
			<a href="#">Weiterlesen</a>
		</p>
	</div>
</div>
<div class="blog-card">
	<div class="meta">
		<div class="photo"
			 style="background-image: url(../../assets/niefern.png)"></div>
		<ul class="details">
			<li><a href="#">John Doe</a></li>
			<li>Aug. 24, 2015</li>
		</ul>
	</div>
	<div class="description">
		<h1>Überschrift</h1>
		<h2>Beschreibung</h2>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
			praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
		<p class="read-more">
			<a href="#">Weiterlesen</a>
		</p>
	</div>
</div>
<div class="blog-card alt">
	<div class="meta">
		<div class="photo"
			 style="background-image: url(../../assets/niefern.png)"></div>
		<ul class="details">
			<li><a href="#">Jane Doe</a></li>
			<li>July. 15, 2015</li>
		</ul>
	</div>
	<div class="description">
		<h1>Überschrift</h1>
		<h2>Beschreibung</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
			praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
		<p class="read-more">
			<a href="#">Weiterlesen</a>
		</p>
	</div>
</div>
