<div class="title-container">
	<h2>DER VEREIN</h2>
</div>

<div class="cards">
	<div class="card">
		<div class="card_img card1"></div>
		<h3>Hans Schworm</h3>
		<div class="line">
		</div>
		<p>Oberschützenmeister (OSM)</p>
	</div>
	<div class="card">
		<div class="card_img card1"></div>
		<h3>Stephan Hapke</h3>
		<div class="line">
		</div>
		<p>Schützenmeister (SM)</p>
	</div>
	<div class="card">
		<div class="card_img card1"></div>
		<h3>Monika Hapke</h3>
		<div class="line">
		</div>
		<p>Schriftführerin</p>
	</div>
	<div class="card">
		<div class="card_img card1"></div>
		<h3>Michaela Schworm</h3>
		<div class="line">
		</div>
		<p>Kassenwartin</p>
	</div>
	<div class="card">
		<div class="card_img card1"></div>
		<h3>Tobias Schworm</h3>
		<div class="line">
		</div>
		<p>Sportleiter & Jugendleiter</p>
	</div>
	<div class="card">
		<div class="card_img card1"></div>
		<h3>Christian Müller</h3>
		<div class="line">
		</div>
		<p>Stellv. Sportleiter</p>
	</div>
	<div class="card">
		<div class="card_img card1"></div>
		<h3>Bernd Toberer</h3>
		<div class="line">
		</div>
		<p>Pressewart</p>
	</div>
</div>

