<main class="main">
	<section class="landing">
		<div class="landing-text">
			<h1>Willkommen beim <span>SSV Niefern</span></h1>
			<p>
				Disziplin, Konzentration sowie Ausdauer sind die wesentlichen Bausteine des Schießsports
			</p>
			<button routerLink="/about" class="button type1">Über uns</button>
		</div>
		<div class="landing-image">
			<img
				src="../../assets/niefern.png"
				alt="Working Illustration"/>
		</div>
	</section>
	<section class="features">
		<div class="container">
			<div>
				<div class="section-header">
					<h2>Schießsport</h2>
					<p>
						Wir bieten folgende Möglichkeiten an. Weitere Informationen findest du im Bereich Schießsport.
					</p>
				</div>
				<div class="more-features-content">
					<div class="feature">
						<div class="feature-illustration">
							<img
								src="../../assets/target.png"
								alt="Feature Illustration Icon"/>
						</div>
						<div class="feature-details">
							<h3>Bogenschießen</h3>
							<p>
								Seit diesem Jahr konnten wir unsere Schießanlage um eine Disziplin erweitern, nämlich
								das Bogenschießen. Wir haben einen Bogenparcour mit verschiedenen Schießmöglichkeiten
								auf einer Fläche von rund 550 Quadratmeter gebaut.
							</p>
						</div>
					</div>
					<div class="feature">
						<div class="feature-illustration">
							<img
								src="../../assets/target.png"
								alt="Feature Illustration Icon"/>
						</div>
						<div class="feature-details">
							<h3>Luftdruckschießen</h3>
							<p>
								Auf unserem neu renoviertem Luftdruckschießstand können bis zu 6 Personen gleichzeitig
								schießen. Unsere Stände verfügen alle über eine elektronische Seilzuganlage.
								Der Stand ist für Luftdruck-, Federdruck- und CO-2 Waffen bis zu einer maximalen
								Bewegungsenergie von 7,5 Joule zugelassen.
							</p>
						</div>
					</div>
					<div class="feature">
						<div class="feature-illustration">
							<img
								src="../../assets/target.png"
								alt="Feature Illustration Icon"/>
						</div>
						<div class="feature-details">
							<h3>25 Meter Stand</h3>
							<p>
								Unser Verein verfügt ebenso über einen teilgedeckten 25m Schießstand, auf dem mit
								„scharfen“ Waffen geschossen werden kann. Dieser ist für Handfeuerwaffen bis zu einer
								maximalen Bewegungsenergie der Geschosse von 1500 Joule (jedoch nur für
								Kurzwaffenkaliber) zugelassen. Zudem ist das Schießen mit Vorderladerwaffen (jedoch nur
								Kurzwaffen) zugelassen.
								Wir sind einer der wenigen Vereine hier im Umkreis, der über eine Fallscheibenanlage
								verfügt.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="image-grid">
		<div class="image-row">
			<div class="image image-01"></div>
			<div class="image image-01"></div>
			<div class="image image-01"></div>
		</div>
	</div>
</main>
